Papers/Eberl, et al, 2020.pdf
Papers/A Biologist's Guide to Mathematical Modeling in Ecology and Evolution.pdf
Papers/Cao, et al, 2016.pdf
Papers/file.pdf
Papers/Gloor, et al, 2017.pdf
Papers/Stein, et al, 2013.pdf
Papers/manuscript04.pdf
Papers/rsif.2021.0717.pdf
Papers/manuscript07.pdf
.vscode/launch.json
Julia/juliaintro.jl
python_code/testcode.py
forR.ipynb
test.ipynb
Julia/Intro.md
python_code/time_for_change.csv
python_code/gillespie.py
python_code/sim.py
python_code/simulation.py
python_code/simulation copy.ipynb
Julia/Julianotebook.ipynb
python_code/birth_death.py
